<div class="container">
    <div class="add-icon-container" (click)="AddTask()">
        <mat-icon class="add-icon">add_circle</mat-icon>
    </div>
    <div class="task-item-list">
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box"  *ngFor="let task of taskList" cdkDrag (dblclick)="EditTask(task.id)">
                <div>
                    <Span class="task-item-title">Ticket {{task.id}}</Span>
                    <mat-chip-list class= "task-item-status" aria-label="Status">
                        <mat-chip color="primary" selected>{{task.status}}</mat-chip>
                    </mat-chip-list>
                </div>
                <div [ngClass]="{'strike-out' : task.statusId > 2}">
                    {{task.title}}
                </div>
            </div>
        </div>
    </div>
</div>
