<form [formGroup]="addTaskForm">
    <mat-form-field>
        <input matInput formControllName="title" placeholder="Add Task" type="text">
        <mat-error *ngIf="title?.invalid">
            Please enter a title.
        </mat-error> 
    </mat-form-field>

    <mat-form-field >
        <mat-label>Team Member</mat-label>
        <mat-select formControllName="user" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let user of users">
            {{user.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="user?.invalid">Please choose an user</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControllName="description" placeholder="Description" type="text">
        <mat-error *ngIf="description?.invalid">
            Please enter a title.
        </mat-error> 
    </mat-form-field>
</form>