mat-form-field{
    display: block;
}

textarea{
    height: 180px;
}

.assignee{
    width: 25%;
    display: inline-block;
}

.team{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}

.date-range{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}

div mat-form-field{
    width: 25%;
    display: inline-block;
    margin-right: 20px;
}
.task-item-title{
    color: blue;
    font-weight: bold;
  }