mat-form-field{
    display: block;
}

textarea{
    height: 180px;
}

.assignee{
    width: 25%;
    display: inline-block;
}

.team{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}
