mat-form-field{
    display: block;
}

.project-title{
    color:blue;
}

.time-spent{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}

.start-end-date{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}

.team{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}

.estimated{
    width: 25%;
    display: inline-block;
    margin-left: 20px;
}
textarea{
    height: 180px;
}
