<div class="container">
        <mat-card class="sign-up-container" *ngIf = "!successfullySignedUp">
            <mat-card-title-group>
              <mat-card-title>Sign Up</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
                <form class="example-form" [formGroup]="signUpForm" (submit)="submit()">
                    <mat-form-field>
                            <input matInput placeholder="Name" type="text" formControlName="name">
                            <mat-error *ngIf="name?.invalid">
                                Enter a valid name
                            </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput placeholder="Email" type="email" formControlName="email">
                        <mat-error *ngIf="email?.invalid && email?.touched">
                            Enter a valid email
                        </mat-error>
                    </mat-form-field>
                
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                <div>
                    <button mat-raised-button [disabled]="signUpForm.invalid"  class="submit-button" color="primary" type="submit">Submit</button>
                </div>
            </form>      
            </mat-card-content>
          </mat-card>
          <div *ngIf="successfullySignedUp" class="sign-up-container">
            <h1>  You are Successfully Registered. Please login !!! </h1>
          </div>
</div>